<%- include('partials/header'); -%>
    <h1 style="color: black;">Contach Us!</h1>
    <p>
        <%= content %>
    </p>
    <p style="color: black;">If any issue, contact me at darikrishnan2425@gmail.com</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('partials/footer'); -%>